{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{{ title }}{% endblock title %}{{ SITE_TITLE_SEP }}{{ SITE_TITLE }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<link href="{% static 'css/font-awesome-vinci/css/vincifont.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />
	<link href="{% static 'css/style.css' %}?v10" rel="stylesheet" type="text/css" charset="utf-8" />

	<link href="{% static 'css/prism.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />

	<script src="{% static 'js/jquery-2.1.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/jquery.hotkeys.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/jquery.infinitescroll.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/jquery.autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/prism.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src="{% static 'js/vinci.js' %}?v11" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{% url 'notebooks_list' %}";
{% if notebook %}		config.notebook = "{{ notebook.slug }}";{% endif %}
	</script>

	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon.png' %}">

	{% endblock head %}
</head>

<body>
	{% block site_header %}
	<header role="site">
		<div class="spacer"></div>

		<div class="middle">
			<div class="header">
				<h1>{% block site_header_title %}{% if notebook %}<a class="home" href="{{ notebook.get_absolute_url }}">{% endif %}{{ title }}{% if notebook %}</a>{% endif %}{% endblock site_header_title %}</h1>

				<div class="system">
					<a href="{% url 'notebooks_list' %}">Home</a></li>
					<a href="">Preferences</a>
					<a href="">Logout</a>
				</div>
			</div>

			<div class="spacer"></div>
		</div>
	</header>
	{% endblock site_header %}

	<div class="wrapper">
		{% block menu %}
		<nav role="menu">
			<form id="search" class="group search">
				<input type="text" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
				<input type="submit" value="Q" />
			</form>

			<div class="group">
				<a href="">Logs</a>
				<a href="">Notes</a>
			</div>

			<div class="group">
				<a href="">Settings</a>
			</div>

			<div class="group system">
				<a href="{% url 'notebooks_list' %}">Home</a></li>
				<a href="">Preferences</a>
				<a href="">Logout</a>
			</div>
		</nav>
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>
			{% block header %}
			<header role="banner">
				<a class="menu">&hellip;</a>
				<h1>{% block header_title %}{% if notebook %}<a class="home" href="{{ notebook.get_absolute_url }}">{% endif %}{{ title }}{% if notebook %}</a>{% endif %}{% endblock header_title %}</h1>
				<a class="add">+</a>
			</header>
			{% endblock header %}

			<main id="content"{% if page_type %} class="{{ page_type }}"{% endif %}>
				{% block content %}{% endblock content %}
				{% block nav %}{% endblock nav %}
			</main>

			<aside id="sidebar">
				{% block sidebar %}
				Tags<br>
				Revisions
				{% endblock sidebar %}
			</aside>
		</section>
	</div>

	{% block input %}
	<!--
		<form id="input">
			<div class="container">
				<div class="content"><textarea id="add" name="add"></textarea><input type="submit" value="Add Entry" class="submitbutton" /></div>
			</div>
		</form>
	-->
	{% endblock input %}
</body>
</html>
