{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{{ title }}{% endblock title %}{{ SITE_TITLE_SEP }}{{ SITE_TITLE }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<link href="{% static 'css/style.css' %}?v12" rel="stylesheet" type="text/css" charset="utf-8" />

	<link href="{% static 'css/lib/prism.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />
	<link href="{% static 'css/lib/jquery.tagit.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />
	<link href="{% static 'css/lib/tagit.ui-zendesk.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />

	<script src="{% static 'js/lib/jquery-2.1.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery.infinitescroll.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap-global-bind.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/prism.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/tag-it.min.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src="{% static 'js/vinci.js' %}?v12" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{% url 'notebooks_list' %}";
{% if notebook %}		config.notebook = "{{ notebook.slug }}";{% endif %}
	</script>

	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon.png' %}">

	{% endblock head %}
</head>

<body>
	<div class="wrapper">
		{% block menu %}
		<nav role="menu">
			<div class="group">
				<span class="add-entry">Add Entry</span>
				<span class="show-search">Search</span>
				<span class="show-quickjump">Quickjump</span>
			</div>

			{% if notebook %}
			<div class="group">
				{% if notebook.display_logs %}<a href="{% url 'notebook_section' notebook.slug 'log' %}">Logs</a>{% endif %}
				{% if notebook.display_notes %}<a href="{% url 'notebook_section' notebook.slug 'note' %}">Notes</a>{% endif %}
				{% if notebook.display_pages %}<a href="{% url 'notebook_section' notebook.slug 'page' %}">Pages</a>{% endif %}
				{% if notebook.display_journals %}<a href="{% url 'notebook_section' notebook.slug 'journal' %}">Journals</a>{% endif %}
			</div>

			<div class="group">
				<a href="{% url 'notebook_settings' notebook.slug %}">Settings</a>
			</div>
			{% endif %}

			<div class="group system">
				<a href="{% url 'notebooks_list' %}">Home</a></li>
				<span class="add-notebook">Add Notebook</span>
				<a href="">Preferences</a>
				<a href="{% url 'logout' %}">Logout</a>
			</div>
		</nav>
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>

			{% block header %}
			<header role="banner">
				<div class="container">
					<a class="menu">&hellip;</a>
					<h1>
						{% block header_title %}
							{% if notebook %}
								<a class="home" href="{{ notebook.get_absolute_url }}">{{ notebook.name }}</a>
							{% else %}
								<span>{{ title }}</span>
							{% endif %}
						{% endblock header_title %}
					</h1>
				</div>
			</header>
			{% endblock header %}

			{% block sections %}
			<div id="sections" class="{% if section %}{{ section }}{% else %}nosection{% endif %}" {% if notebook.display_logs %}data-log-uri="{% url 'notebook_section' notebook.slug 'log' %}"{% endif %} {% if notebook.display_notes %}data-note-uri="{% url 'notebook_section' notebook.slug 'note' %}"{% endif %} {% if notebook.display_pages %}data-page-uri="{% url 'notebook_section' notebook.slug 'page' %}"{% endif %}>
				<div class="container"></div>
			</div>
			{% endblock sections %}

			{% block add_notebook %}
			<form id="add-notebook" data-post-uri="{% url 'api_notebook_list' %}" data-author-id="{{ request.user.id }}">
				<div class="container">
					<div class="group">
						<label>Name:</label>
						<input type="text" class="name" name="notebook_name" />
					</div>

					<input type="submit" value="Add Notebook" class="button" />
				</div>
			</form>
			{% endblock add_notebook %}

			{% block add_entry %}
			<form id="add-entry" class="edit-mode" {% if notebook %}data-uri="{% url 'api_entry_list' notebook.slug %}"{% endif %}>
				<input class="title container" name="title" type="text" value="" placeholder="Title" />
				<textarea name="entry-content" class="container"></textarea>

				<div class="edit-panel">
					<div class="group tags other container">
						<label>Tags:</label><input name="tags" type="text" value="" />
					</div>
					<div class="group other container">
						<label>Date:</label><input name="date" type="text" value="" />
					</div>
					<div class="group other container">
						<label>Type:</label>
						{% if notebook.display_logs %}
							<span data-value="log" class="type log{% if notebook.default_section == 'log' %} selected{% endif %}">Log</span>
						{% endif %}
						{% if notebook.display_notes %}
							<span data-value="note" class="type note{% if notebook.default_section == 'note' %} selected{% endif %}">Note</span>
						{% endif %}
						{% if notebook.display_pages %}
							<span data-value="page" class="type page{% if notebook.default_section == 'page' %} selected{% endif %}">Page</span>
						{% endif %}
						{% if notebook.display_journals %}
							<span data-value="journal" class="type journal{% if notebook.default_section == 'journal' %} selected{% endif %}">Journal</span>
						{% endif %}
						<input type="hidden" name="type" value="" />
					</div>
					<div class="group other notebook container">
						<label>Notebook:</label>
						<select name="notebook">
							{% for n in notebooks %}<option value="{{ n.slug }}"{% if notebook.slug == n.slug %} selected{% endif %}>{{ n.name }}</option>{% endfor %}
						</select>
					</div>
					<div class="group other container">
						<div class="buttons">
							<span class="button add">Add</span>
							<span class="button append-to-today">Append to Today</span>
						</div>
					</div>
					<div class="group more container">
						<a href="">Toggle advanced</a>
					</div>
				</div>
			</form>
			{% endblock add_entry %}

			{% block search %}
			<form id="search" data-search-all-uri="{% url 'search_all' %}"{% if notebook and section %} data-search-section-uri="{% url 'search_notebook_section' notebook.slug section %}"{% endif %}{% if notebook %}data-search-notebook-uri="{% url 'search_notebook' notebook.slug %}"{% endif %} data-quickjump-uri="{% url 'quick_jump' %}" class="{{ page_type }}">
				<div class="container">
					<input type="text" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
					<section class="scope">
						{% if section and notebook %}<span data-value="section"{% if scope == 'section' %} class="selected"{% endif %}>This Section</span>{% endif %}
						{% if notebook %}<span data-value="notebook"{% if scope == 'notebook' %} class="selected"{% endif %}>This Notebook</span>{% endif %}
						<span data-value="all"{% if scope == 'all' %} class="selected"{% endif %}>All Notebooks</span>
					</section>
					<section class="results"></section>
				</div>
			</form>
			{% endblock search %}

			{% if query %}
			<section id="results">
				<div class="container">
					<h2>{{ total }} {% if section %}{{ section }} {% endif %}result{% if total != 1 %}s{% endif %} for <span>{{ query }}</span></h2>
				</div>
			</section>
			{% endif %}

			<section id="error">
				<div class="container"></div>
			</section>

			<main id="content" class="{{ page_type }} {{ section }}">
				{% block content %}{% endblock content %}
				{% block nav %}{% endblock nav %}

				{% block footer %}
				{% endblock footer %}
			</main>
		</section>
	</div>

	<div id="mask"></div>
	<section id="modal">
		<div id="modal-help" class="modal">
			<h2>Help</h2>

			<div class="columns">
				<div class="column">
					<div class="group">
						<label>/</label>
						<span>Search</span>
					</div>

					<div class="group">
						<label>g m</label>
						<span>Toggle menu</span>
					</div>

					<div class="group">
						<label>a</label>
						<span>Add entry</span>
					</div>

					<div class="group">
						<label>j</label>
						<span>Move down in entry list</span>
					</div>

					<div class="group">
						<label>k</label>
						<span>Move up in entry list</span>
					</div>

					<div class="group">
						<label>e</label>
						<span>Edit entry</span>
					</div>

					<div class="group">
						<label>C-&#x23ce;</label>
						<span>Save entry</span>
					</div>
				</div>

				<div class="column">
					<div class="group">
						<label>g /</label>
						<span>Quickjump</span>
					</div>

					<div class="group">
						<label>g l</label>
						<span>Logs</span>
					</div>

					<div class="group">
						<label>g n</label>
						<span>Notes</span>
					</div>

					<div class="group">
						<label>g p</label>
						<span>Pages</span>
					</div>

					<div class="group">
						<label>g j</label>
						<span>Journals</span>
					</div>

					<div class="group">
						<label>g h</label>
						<span>Home (All Notebooks)</span>
					</div>

					<div class="group">
						<label>A</label>
						<span>Add notebook</span>
					</div>
				</div>
			</div>
		</div>
		{% block modal %}
		{% endblock modal %}
	</section>
</body>
</html>
