{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{{ title }}{% endblock title %}{{ SITE_TITLE_SEP }}{{ SITE_TITLE }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<link href="{% static 'css/style.css' %}?v14" rel="stylesheet" type="text/css" charset="utf-8" />

	<link href="{% static 'css/lib/prism.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />
	{% block pagecss %}{% endblock pagecss %}

	{% if notebook.custom_css %}
	<style type="text/css">{{ notebook.custom_css|safe }}</style>
	{% endif %}

	<script src="{% static 'js/lib/jquery-2.1.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap-global-bind.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/prism.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src="{% static 'js/vinci.js' %}?v13" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{% url 'notebooks_list' %}";
{% if notebook %}		config.notebook = "{{ notebook.slug }}";{% endif %}
        config.api_key = "{{ API_KEY }}";
	</script>

	{% if mode %}
	<link rel="shortcut icon" href="{% static 'favicon/' %}favicon-{{ mode }}.png">
	{% else %}
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
	{% endif %}

	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon.png' %}">

	{% endblock head %}
</head>

<body {% if mode %}class="{{ mode }}-mode"{% endif %}>
	<div class="wrapper">
		{% block menu %}
		{% if request.user.username %}
		<nav role="menu">
			{% if notebook %}
				<div class="group">
					<h2>Notebook</h2>
					<a href="{% url 'notebook' notebook.slug %}">home</a>
					{% for s in sections %}
					<a href="{% url 'notebook_section' notebook.slug s.slug %}"><span class="selector">/</span>{{ s.slug }}</a>
					{% endfor %}
					<a class="settings" href="{% url 'notebook_settings' notebook.slug %}">settings</a>
				</div>

				{% if modes|length %}
				<div class="group">
					<h2>Modes</h2>
					{% for m in modes %}
						{% if section %}
							<a class="mode" href="{% url 'notebook_section' notebook.slug section.slug %}?mode={{ m }}">{{ m }}</a>
						{% else %}
							<a class="mode" href="{% url 'notebook' notebook.slug %}?mode={{ m }}">{{ m }}</a>
						{% endif %}
					{% endfor %}
				</div>
				{% endif %}
			{% endif %}

			<div class="group system">
				<a href="{% url 'notebooks_list' %}">all notebooks</a></li>
			<!--<a href="{% url 'preferences' %}">preferences</a>-->
				<a href="{% url 'logout' %}">logout</a>
			</div>
		</nav>
		{% endif %}
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>

			{% block search %}
			{% if request.user.username %}
			<form id="search" data-search-all-uri="{% url 'search_all' %}"{% if notebook and section %} data-search-section-uri="{% url 'search_notebook_section' notebook.slug section.slug %}"{% endif %}{% if notebook %}data-search-notebook-uri="{% url 'search_notebook' notebook.slug %}"{% endif %} data-quickjump-uri="{% url 'quick_jump' %}" class="{{ page_type }}">
				<div class="container">
					<input type="text" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
					<section class="results"></section>
				</div>
			</form>
			{% endif %}
			{% endblock search %}

			{% block header %}
			<header role="banner">
				<div class="container">
					<section class="controls">
						<a class="menu" href="">&hellip;</a>

						<div class="group">
							<a href="" class="add-entry">+</a>
							<a href="" class="show-search"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><path d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z" fill="#fff"></path></svg></a>
						</div>
					</section>
					<h1>
						{% block header_title %}
							{% if notebook %}
								<a class="home notebook" href="{{ notebook.get_absolute_url }}"><span class="selector">::</span>{{ notebook.slug }}</a>{% if section %} <a class="home section" href="{{ section.get_absolute_url }}"><span class="selector">/</span>{{ section.slug }}</a>{% endif %}
							{% else %}
								<span>{{ title }}</span>
							{% endif %}
						{% endblock header_title %}
					</h1>
				</div>
			</header>
			{% endblock header %}

			{% block modebar %}
			<div id="mode-bar" class="{% if mode %}{{ mode }}{% else %}no-mode{% endif %}">
				<div class="container"></div>
			</div>
			{% endblock modebar %}

			{% block add_entry %}
			{% if request.user.username %}
			<form id="add-entry" class="edit-mode" data-uri="{% url 'api_notebook_list' %}" {% if notebook %}data-notebook-slug="{{ notebook.slug }}"{% endif %}{% if section %} data-section-slug="{{ section.slug }}"{% endif %}>
				<textarea name="entry-content" class="entry-content container"></textarea>

				<div class="edit-panel">
					<div class="group more container">
						<a class="add" href="">Add entry</a>
					</div>
				</div>
			</form>
			{% endif %}
			{% endblock add_entry %}

			{% if query %}
			<section id="results">
				<div class="container">
					<h2>{{ total }} result{% if total != 1 %}s{% endif %} for <span>{{ query }}</span></h2>
				</div>
			</section>
			{% endif %}

			<section id="error">
				<div class="container"></div>
			</section>

			<main id="content" class="{{ page_type }}{% if section %} {{ section }}{% endif %}"{% if notebook %} data-notebook-settings-url="{% url 'notebook_settings' notebook.slug %}"{% endif %}>
				{% block content %}{% endblock content %}
				{% block nav %}{% endblock nav %}

				{% block footer %}
				{% endblock footer %}
			</main>
		</section>
	</div>

	<div id="mask" class="{% block mask-class %}{% endblock mask-class %}"></div>
	<section id="modal" class="{% block modal-class %}{% endblock modal-class %}">
		<div id="modal-help" class="modal">
			<h2>Help</h2>

			<div class="columns">
				<div class="column">
					<div class="group">
						<label>/</label>
						<span>Search</span>
					</div>

					<div class="group">
						<label>g m</label>
						<span>Toggle menu</span>
					</div>

					<div class="group">
						<label>a</label>
						<span>Add entry</span>
					</div>

					<div class="group">
						<label>j</label>
						<span>Move down in entry list</span>
					</div>

					<div class="group">
						<label>k</label>
						<span>Move up in entry list</span>
					</div>
				</div>

				<div class="column">
					<div class="group">
						<label>e</label>
						<span>Edit entry</span>
					</div>

					<div class="group">
						<label>C-&#x23ce;</label>
						<span>Save entry</span>
					</div>

					<div class="group">
						<label>g h</label>
						<span>Home (All Notebooks)</span>
					</div>
				</div>
			</div>
		</div>
		{% block modal %}
		{% endblock modal %}
	</section>

	{% block pagejs %}{% endblock pagejs %}
</body>
</html>
