<li class="card" data-card-id="{{ card.id }}" data-card-uri="{% url 'card-detail' card.id %}">
	{% if card.labels.all|length %}
	<span class="labels">
		{% for label in card.labels.all %}
		<span class="label" data-label-id="{{ label.id }}" data-color="{{ label.color }}" style="background-color: {{ label.color }}"></span>
		{% endfor %}
	</span>
	{% endif %}

	{% if card.checklists.all|length > 0 and card.total_checklist_items > 0 %}
	<span class="checklists">
		<span class="finished">{{ card.finished_checklist_items }}</span> / <span class="total">{{ card.total_checklist_items }}</span>
	</span>
	{% endif %}

	<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
	{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}

	<div class="checklistHtml">{% include 'vinci/_checklists.html' %}</div>
</li>
