{% for checklist in card.get_active_checklists %}
	<div class="checklist" data-checklist-id="{{ checklist.id }}" data-checklist-uri="{% url 'checklist-detail' checklist.id %}">
		<span class="checklist-edit">&hellip;</span>
		<h2 class="checklist-title">{{ checklist.title }}</h2>
		<input type="text" class="checklist-title-edit" value="{{ checklist.title }}" />
		<span class="save-checklist-button button">Save</span>
		<span class="cancel-checklist-button">&times;</span>

		<div class="checklist-edit-tray actions">
			<span class="button delete-checklist-button">Delete Checklist</span>
		</div>

		<div class="checklist-items">
			{% for item in checklist.get_active_items %}
			<div class="checklist-item{% if item.done %} checked{% endif %}" data-checklist-item-id="{{ item.id }}" data-checklist-item-uri="{% url 'checklistitem-detail' item.id %}">
				<span class="checkbox"></span>
				<span class="label">{{ item.title }}</span>
				<input type="text" class="label-edit" value="{{ item.title }}" />
				<span class="controls">
					<span class="delete-item-button button">Delete</span>
					<span class="save-item-button button">Save</span>
					<span class="cancel-item-button">&times;</span>
				</span>
			</div>
			{% endfor %}
		</div>

		<div class="add-checklist-item">
			<div class="tray">
				<textarea></textarea>
				<span class="save-button button">Save item</span>
			</div>
			<span class="plus">+</span>
			<span class="add-button">Add item</span>
		</div>
	</div>
{% endfor %}
