<article class="entry{% if entry.slug != '' %} page{% endif %}" data-id="{{ entry.id }}" data-plugins="entry.plugins|join(',')">
	<div class="metadata">
		{% if not notebook %}<a href="{{ entry.notebook.get_absolute_url }}">{{ entry.notebook.name }}</a> — {% endif %}

		<div class="menu action"><a href="">&nbsp;</a></div>

		<div class="more">
			<nav>
				<a href="" class="edit">Edit</a>
			</nav>

			<a href="" class="delete">Delete</a>
		</div>

        {% if entry.title == '' and entry.slug == '' %}<div class="date action"><a href="{{ entry.get_absolute_url }}">{% if mode != 'diary' %}<date>{{ entry.date|date:'%-d %b %Y' }}</date>{% endif %}<time>{{ entry.date|date:'%l:%M %p'|lower }}</time></a>{% if entry.tags|length > 0 %}<ul class="tags">{% for tag in entry.tags %}<li><a href=" url_for('index') ~ entry.notebook.slug ~ '/tag/' ~ tag ">#{{ tag }}</a></li>{% endfor %}</ul>{% endif %}</div>{% endif %}

		{% if entry.title != '' or entry.slug != '' and entry.excerpt %}<div class="date action"><a href="{{ entry.get_absolute_url }}"><h3>{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}no title!{% endif %}</h3></a></div>{% endif %}

		{% if entry.slug != '' and page_type == 'detail' %}<h2 class="page-title">{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}no title!{% endif %}</h2>{% endif %}
	</div>

	{% if entry.excerpt %}<div class='content excerpt'>&hellip; {{ entry.excerpt }} &hellip;</div>
    {% else %}
	<div class="content">{% if entry.slug != '' %}<h3><a href="{{ entry.get_absolute_url }}">{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}no title!{% endif %}</a></h3>{% else %}{{ entry.html }}{% endif %}</div>
	<form class="editbox"><textarea>{{ entry.current_revision.content }}</textarea>{% if entry.slug == '' %}<div class="group"><label>Date:</label><input type="text" value="{{ entry.date|date:'%Y-%m-%d %H:%M:%S' }}" /></div>{% endif %}<input type="submit" value="Save {% if entry.slug == '' %}Entry{% else %}Page{% endif %}" class="submitbutton" /></form>
    {% endif %}
</article>
