<article class="entry" data-id="{{ entry.id }}" data-uri="{{ entry.get_absolute_url }}" data-notebook-slug="{{ entry.notebook.slug }}" data-api-uri="{% url 'api_entry_detail' entry.notebook.slug entry.id %}">
    <a class="controls-toggle" href="">&nbsp;</a>

	<div class="metadata container">
		{% block entry_metadata %}

		{% block entry_metadata_date %}
		<a class="date" href="{{ entry.get_absolute_url }}">
			<date>{{ entry.date|date:'j M Y' }}</date>
			<time>{{ entry.date|date:'g:i A'|lower }}, {{ entry.date|date:'D' }}</time>
			{% if scope == 'all' %}<span class="notebook">{{ entry.notebook.name }}</span>{% endif %}
		</a>
		{% endblock entry_metadata_date %}

		{% block entry_metadata_tags %}
		{% if entry.tags.all|length > 0 and page_type == 'list' %}
		<ul class="tags">{% for tag in entry.tags.all %}<li><a href="{% url 'search_notebook_tags' entry.notebook.slug tag %}">#{{ tag }}</a></li>{% endfor %}</ul>
		{% endif %}
		{% endblock entry_metadata_tags %}

		{% endblock entry_metadata %}
	</div>

	<div class="content container {% block entry_class %}{% endblock entry_class %}">
	{% if page_type == 'list' %}
		{% block entry_list %}
		{% if revision %}
		{{ revision.html|safe }}
		{% else %}
		{{ entry.html|safe }}
		{% endif %}
		{% endblock %}
	{% else %}
		{% block entry_detail %}
		{% if revision %}
		{{ revision.html|safe }}
		{% else %}
		{{ entry.html|safe }}
		{% endif %}
		{% endblock %}
	{% endif %}
	</div>

	<form class="edit-mode">
		<input class="title container" name="title" type="text" value="{{ entry.title }}" placeholder="Title" />
		<textarea name="content" class="container">{% if revision %}{{ revision.content }}{% else %}{{ entry.current_revision.content }}{% endif %}</textarea>

		<div class="edit-panel">
			<div class="group tags other container">
				<label>Tags:</label><input name="tags" type="text" value="{{ entry.tags.all|join:',' }}" />
			</div>
			<div class="group other container">
				<label>Date:</label><input name="date" type="text" value="{{ entry.date|date:'Y-m-d H:i:s' }}" />
			</div>
			<div class="group other notebook container">
				<label>Notebook:</label>
				<select name="notebook">
					{% for n in notebooks %}<option value="{{ n.slug }}"{% if entry.notebook.slug == n.slug %} selected{% endif %}>{{ n.name }}</option>{% endfor %}
				</select>
			</div>
			<div class="group other container">
				<div class="buttons">
					<span class="button delete">Delete Entry</span>
					<a class="button" href="{{ entry.get_absolute_url }}">Go to Entry</a>
				</div>
			</div>
			<div class="group more container">
				<a class="toggle" href="">Toggle advanced</a> &mdash; <a class="save" href="">Save</a>
			</div>
		</div>
	</form>
	<div class="original hidden">
		<input name="original_title" type="text" class="title" value="{{ entry.title }}" />
		<textarea>{{ entry.current_revision.content }}</textarea>
		<input name="original_tags" type="hidden" value="{{ entry.tags.all|join:',' }}" />
		<input name="original_date" type="hidden" value="{{ entry.date|date:'Y-m-d H:i:s' }}" />
		<input name="original_notebook" type="hidden" value="{{ entry.notebook.slug }}" />
	</div>
</article>
