<article class="entry {{ entry.entry_type }}" data-id="{{ entry.id }}" data-uri="{{ entry.get_absolute_url }}" data-notebook-slug="{{ entry.notebook.slug }}">
	{% if not total %}
		<a class="controls-toggle" href="">&nbsp;</a>
	{% endif %}

	<div class="metadata container">
		{% block entry_metadata %}

		{% block entry_metadata_date %}
		<a class="date" href="{{ entry.get_absolute_url }}">
			<date>{{ entry.date|date:'j M Y' }}</date>
			<time>{{ entry.date|date:'g:i A'|lower }}, {{ entry.date|date:'D' }}</time>
		</a>
		{% endblock entry_metadata_date %}

		{% block entry_metadata_tags %}
		{% if entry.tags.all|length > 0 %}
		<ul class="tags">{% for tag in entry.tags.all %}<li><a href="url_for('index') ~ entry.notebook.slug ~ '/tag/' ~ tag">#{{ tag }}</a></li>{% endfor %}</ul>
		{% endif %}
		{% endblock entry_metadata_tags %}

		{% endblock entry_metadata %}
	</div>

	<div class="content container {% block entry_class %}{% endblock entry_class %}">
	{% if page_type == 'list' %}
		{% block entry_list %}
		{{ entry.html|safe }}
		{% endblock %}
	{% else %}
		{% block entry_detail %}
		{{ entry.html|safe }}
		{% endblock %}
	{% endif %}
	</div>

	<form class="edit-mode">
		<input class="title container" name="title" type="text" value="{{ entry.title }}" placeholder="Title" />
		<textarea name="content" class="container">{% if revision %}{{ revision.content }}{% else %}{{ entry.current_revision.content }}{% endif %}</textarea>

		<div class="edit-panel">
			<div class="group tags other container">
				<label>Tags:</label><input name="tags" type="text" value="{{ entry.tags.all|join:',' }}" />
			</div>
			<div class="group other container">
				<label>Date:</label><input name="date" type="text" value="{{ entry.date|date:'Y-m-d H:i:s' }}" />
			</div>
			<div class="group other container">
				<label>Type:</label>
				{% for t in entry.get_possible_types %}<span data-value="{{ t.value }}" class="type {{ t.value }}{% if entry.entry_type == t.value %} selected{% endif %}">{{ t.label }}</span>{% endfor %}
				<input type="hidden" name="type" value="{{ entry.entry_type }}" />
			</div>
			<div class="group other notebook container">
				<label>Notebook:</label>
				<select name="notebook">
					{% for n in notebooks %}<option value="{{ n.slug }}"{% if entry.notebook.slug == n.slug %} selected{% endif %}>{{ n.name }}</option>{% endfor %}
				</select>
			</div>
			<div class="group other container">
				<div class="buttons">
					<span class="button delete">Delete Entry</span>
					<span class="button">Revert</span>
					<a class="button" href="{{ entry.get_absolute_url }}">Go to Entry</a>
				</div>
			</div>
			<div class="group more container">
				<a href="">Toggle advanced</a>
			</div>
		</div>
	</form>
	<div class="original hidden">
		<input name="original_title" type="text" class="title">{{ entry.title }}</input>
		<textarea>{{ entry.current_revision.content }}</textarea>
		<input name="original_tags" type="hidden" value="{{ entry.tags.all|join:',' }}" />
		<input name="original_date" type="hidden" value="{{ entry.date|date:'Y-m-d H:i:s' }}" />
		<input name="original_type" type="hidden" value="{{ entry.entry_type }}" />
		<input name="original_notebook" type="hidden" value="{{ entry.notebook.slug }}" />
	</div>
</article>
