{% load humanize %}
<article class="notebook" data-slug="{{ notebook.slug }}" data-uri="{{ notebook.get_absolute_url }}" data-name="{{ notebook.name|lower }}" data-api-uri="{% url 'api_entry_list' notebook.slug %}">
    <a class="controls-toggle" href="">&nbsp;</a>

	<div class="content container">
		<h2 class="notebook-name"><span class="selector">::</span><a href="{{ notebook.get_absolute_url }}">{{ notebook.slug }}</a></h2>
		<div>{{ notebook.entries.active.count|intcomma }} entries</div>
	</div>

	<form class="edit-mode">
		<div class="group container">
			<label>Name:</label>
			<input type="text" name="notebook-name" class="name" value="{{ notebook.name }}" />
		</div>

		<div class="group container">
			<div class="buttons">
				<span class="button rename-notebook">Rename</span>
				<span class="button archive-notebook">Archive</span>
				<span class="button delete">Delete</span>
			</div>
		</div>
	</form>
</article>
