{% extends 'vinci/_entry.html' %}

{% block entry_metadata_date %}{% endblock entry_metadata_date %}

{% block entry_metadata_tags %}{% endblock entry_metadata_tags %}

{% block entry_list %}
<h3><a href="{{ entry.get_absolute_url }}">{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}no title!{% endif %}</a></h3>
{% endblock entry_list %}

{% block entry_detail %}
<h1 class="page-title">{{ entry.title }}</h1>

{{ entry.html|safe }}
{% endblock entry_detail %}
