{% extends 'vinci/todos.html' %}

{% block mask-class %}active{% endblock mask-class %}

{% block modal-class %}active{% endblock modal-class %}
{% block modal-list-title %}{{ card.list.title }}{% endblock modal-list-title %}

{% block modal-card-title %}{{ card.title }}{% endblock modal-card-title %}
{% block modal-card-description %}{{ card.description }}{% endblock modal-card-description %}

{% block modal-checklists %}{% include 'vinci/_checklists.html' %}{% endblock modal-checklists %}

{% block modal-card-data %}data-card-id="{{ card.id }}" data-card-uri="{% url 'card-detail' card.id %}"{% endblock modal-card-data %}
