{% extends 'vinci/_base.html' %}

{% block content %}
	{% block entries %}
	<section class="entries">
		{% for entry in entries %}
			{% if search %}
				{% include 'vinci/_search.html' %}
			{% elif %}
				{% include 'vinci/_log.html' %}
			{% endif %}
		{% empty %}
		<article class="entry container empty"><div>No {% if section %}{{ section }} {% endif %}entries. Not a single one.</div><span class="add-entry">Add an entry</span></article>
		{% endfor %}
	</section>
	{% endblock entries %}
{% endblock content %}

{% block nav %}
<nav role="pagination" class="container">
	{% if entries.has_prev %}<a class="prev" href="?{% if query %}q={{ query }}&{% endif %}page={{ entries.previous_page_number }}">Prev</a>{% endif %}
	{% if entries.has_next %}<a class="next" href="?{% if query %}q={{ query }}&{% endif %}page={{ entries.next_page_number }}">Next</a>{% endif %}
</nav>
{% endblock nav %}
