{% extends 'vinci/_base.html' %}

{% block title %}{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}{{ entry.date|date:'Y-m-d' }}{% endif %} | {{ entry.notebook.name }} | Vinci{% endblock title %}

{% block content %}
	{% block entry %}
	<section class="entries" data-uri="{% url 'api_notebook_list' %}">
		%%%STUB%%%
	</section>
	{% endblock entry %}
{% endblock content %}

{% block footer %}
<footer>
	<div class="container">
		{% if entry.tags.all %}
		<div class="group">
			<h2>Tags</h2>
			<ul class="tags">
				{% for tag in entry.tags.all %}
				<li><a href="">#{{ tag.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if entry.revisions.all %}
		<div class="group">
			{% if revision %}
			<h2>Revision</h2>
			<ul class="revisions">
				<li>{{ revision.last_modified }}</li>
				<li><a href="{% url 'entry' entry.notebook.slug entry.id %}">Back to entry</a></li>
			</ul>
			{% else %}
			<h2>Revisions</h2>
			<ul class="revisions">
				{% for rev in entry.revisions.all %}
				<li{% if forloop.counter > 2 %} class="hidden"{% endif %}><a href="{% if entry.section %}{% url 'revision' entry.notebook.slug entry.section.slug entry.id rev.id %}{% else %}{% url 'revision' entry.notebook.slug '--' entry.id rev.id %}{% endif %}">{{ rev.last_modified }}</a></li>
				{% endfor %}
				{% if entry.revisions.all|length > 2 %}
				<li><a class="toggle" href="">Toggle full list ({{ entry.revisions.all|length }} revisions)</a></li>
				{% endif %}
			</ul>
			{% endif %}
		</div>
		{% endif %}
	</div>
</footer>
{% endblock footer %}
