{% extends 'vinci/_base.html' %}

{% block sections %}{% endblock sections %}

{% block content %}
<div id="all-notebooks">
	<section class="notebooks">
		{% for notebook in ungrouped_notebooks %}
			{% include 'vinci/_notebook.html' %}
		{% endfor %}
	</section>

	{% for group in groups %}
	<h2 class="container">{{ group.name }}</h2>
	<section class="notebooks">
		{% for notebook in group.notebooks.all %}
			{% include 'vinci/_notebook.html' %}
		{% endfor %}
	</section>
	{% endfor %}
</div>
{% endblock content %}
