{% extends 'vinci/_base.html' %}

{% block content %}
	<div class="lists" data-lists-uri="{% url 'list-list' %}" data-notebook-slug="{{ notebook.slug }}">
		{% for list in notebook.lists.all %}
		<section class="list" data-list-id="{{ list.id }}">
			{% if list.labels.all|length %}
			<div class="labels">
				{% for label in list.labels.all %}
				<span class="label-1" style="background-color: {{ label.color }}"></span>
				{% endfor %}
			</div>
			{% endif %}

			<h2><span class="list-edit">&hellip;</span>{{ list.title }}</h2>

			<ul class="cards" data-cards-uri="{% url 'card-list' %}">
				{% for card in list.cards.all %}
				<li class="card" data-card-id="{{ card.id }}">
					{% if card.labels.all|length %}
					<span class="labels">
						{% for label in card.labels.all %}
						<span class="label-1" style="background-color: {{ label.color }}"></span>
						{% endfor %}
					</span>
					{% endif %}
					<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
					{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}
				</li>
				{% endfor %}
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>
		{% endfor %}

		<section class="list">
			<div class="labels">
				<span class="label-1"></span>
				<span class="label-2"></span>
				<span class="label-3"></span>
			</div>

			<h2><span class="list-edit">&hellip;</span>List Title</h2>

			<ul class="cards">
				<li class="card">
					<span class="labels">
						<span class="label-1"></span>
						<span class="label-3"></span>
					</span>
					<span class="title">Add card tray: make it easy to choose labels, move to other positions, etc.</span>
					<span class="desc">A description goes here, which can be short or long, depending on your preference and mood that day.</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="labels">
						<span class="label-2"></span>
					</span>
					<span class="title no-desc">Card Title</span>
				</li>
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>

		<section class="list">
			<h2><span class="list-edit">&hellip;</span>List Title That Is a Little Longer</h2>

			<ul class="cards">
				<li class="card label label-1">
					<span class="title no-desc">The Unformatted Record is exactly that - just the record. Who are they for? If it is for LIT staff only, should they be on every page? If they are there for the patrons for some reason, I would suggest that all three pages might be more useful if there was even a bit of styling</span>
				</li>
				<li class="card label label-1">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>

		<section class="list">
			<div class="labels">
				<span class="label-2"></span>
			</div>

			<h2>Another List Title</h2>

			<ul class="cards">
				<li class="card label label-1">
					<span class="labels">
						<span class="label-1"></span>
					</span>
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="labels">
						<span class="label-2"></span>
						<span class="label-3"></span>
					</span>
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title no-desc">Card Title</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="labels">
						<span class="label-2"></span>
						<span class="label-3"></span>
					</span>
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title no-desc">Card Title</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="labels">
						<span class="label-2"></span>
						<span class="label-3"></span>
					</span>
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
				<li class="card">
					<span class="title no-desc">Card Title</span>
				</li>
				<li class="card">
					<span class="title">Card Title</span>
					<span class="desc">Description here...</span>
				</li>
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>

		<section class="add-list">
			<div class="tray">
				<textarea></textarea>
				<span class="save-button">Save list</span>
			</div>
			<span class="add-button">Add list</span>
		</section>
	</div>
{% endblock content %}
