{% extends 'vinci/_base.html' %}

{% block content %}
	<div class="lists" data-lists-uri="{% url 'list-list' %}" data-notebook-slug="{{ notebook.slug }}">
		{% for list in notebook.lists.all %}
		<section class="list" data-list-id="{{ list.id }}">
			{% if list.labels.all|length %}
			<div class="labels">
				{% for label in list.labels.all %}
				<span class="label-1" style="background-color: {{ label.color }}"></span>
				{% endfor %}
			</div>
			{% endif %}

			<h2><span class="list-edit">&hellip;</span>{{ list.title }}</h2>

			<ul class="cards" data-cards-uri="{% url 'card-list' %}">
				{% for card in list.cards.all %}
				<li class="card" data-card-id="{{ card.id }}">
					{% if card.labels.all|length %}
					<span class="labels">
						{% for label in card.labels.all %}
						<span class="label-1" style="background-color: {{ label.color }}"></span>
						{% endfor %}
					</span>
					{% endif %}
					<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
					{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}
				</li>
				{% endfor %}
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>
		{% endfor %}

		<section class="add-list">
			<div class="tray">
				<textarea></textarea>
				<span class="save-button">Save list</span>
			</div>
			<span class="add-button">Add list</span>
		</section>
	</div>
{% endblock content %}

{% block modal %}
<div id="modal-card-edit" class="modal">
	<h2>Edit Card</h2>
</div>
{% endblock modal %}
