{% extends 'vinci/_base.html' %}

{% block content %}
	<div class="lists" data-lists-uri="{% url 'list-list' %}" data-notebook-slug="{{ notebook.slug }}">
		{% for list in notebook.lists.all %}
		<section class="list" data-list-id="{{ list.id }}">
			{% if list.labels.all|length %}
			<div class="labels">
				{% for label in list.labels.all %}
				<span class="label-1" style="background-color: {{ label.color }}"></span>
				{% endfor %}
			</div>
			{% endif %}

			<h2><span class="list-edit">&hellip;</span>{{ list.title }}</h2>

			<ul class="cards" data-cards-uri="{% url 'card-list' %}">
				{% for card in list.cards.all %}
				<li class="card" data-card-id="{{ card.id }}">
					{% if card.labels.all|length %}
					<span class="labels">
						{% for label in card.labels.all %}
						<span class="label-1" style="background-color: {{ label.color }}"></span>
						{% endfor %}
					</span>
					{% endif %}
					<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
					{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}
				</li>
				{% endfor %}
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>
		{% endfor %}

		<section class="add-list">
			<div class="tray">
				<textarea></textarea>
				<span class="save-button">Save list</span>
			</div>
			<span class="add-button">Add list</span>
		</section>
	</div>
{% endblock content %}

{% block modal %}
<div id="modal-card-edit" class="modal">
	<section class="main-column column">
		<div class="card-edit">
			<div class="card">
				<textarea id="card-title-edit" name="card-title-edit"></textarea>
				<textarea id="card-description-edit" name="card-description-edit"></textarea>
			</div>

			<div class="buttons">
				<input id="save-card-edit-button" class="button save" type="button" value="Save"/>
				<input id="cancel-card-edit-button" class="button cancel" type="button" value="Cancel"/>
			</div>
		</div>
		<div class="checklists">
			<h3>Checklists</h3>

			Checklists will go here
		</div>
	</section>

	<section class="sidebar column">
		<div class="labels">
			<h3>Labels</h3>

			<ul>
				{% for label in labels.all %}
				<li class="label" data-label-id="{{ label.id }}" style="background-color: {{ label.color }}">{{ label.title }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="actions">
			<h3>Actions</h3>

			Move to list
			Copy to list
			Archive card
			Delete card
		</div>
	</section>
</div>
{% endblock modal %}
