{% extends 'vinci/_base.html' %}

{% block page_header %}
{% if query %}
	<section id="results"><div class="container"><h2>{{ total }} results for <span>{{ query }}</span></h2></div></section>
{% endif %}
{% endblock page_header %}

{% block content %}
	{% block entries %}
	<section class="entries">
		{% for entry in entries %}
            {% include 'vinci/_entry.html' %}
		{% empty %}
            <article class="entry">No entries.</article>
		{% endfor %}
	</section>
	{% endblock entries %}
{% endblock content %}

{% block nav %}
<nav role="pagination" class="container">
	{% if entries.has_prev %}<a class="prev" href="?page={{ entries.previous_page_number }}">Prev</a>{% endif %}
	{% if entries.has_next %}<a class="next" href="?page={{ entries.next_page_number }}">Next</a>{% endif %}
</nav>
{% endblock nav %}
