{% extends 'vinci/_base.html' %}

{% load staticfiles %}

{% block pagecss %}
<link href="{% static 'css/lib/codemirror.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />
{% endblock pagecss %}

{% block pagejs %}
<script src="{% static 'js/lib/codemirror.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock pagejs %}

{% block content %}
<section id="settings" data-uri="{% url 'api_entry_list' notebook.slug %}">
	<h2 class="container">Notebook Settings</h2>

	<div class="group container">
		<input type="text" name="notebook-slug" value="{{ notebook.slug }}" />
		<input type="submit" class="rename-notebook button" value="Rename" />
	</div>

	<h3 class="container">Status</h3>
	<div class="group container">
		<select id="status">
			{% for status in statuses %}
			<option {% if status.value == notebook.status %}selected {% endif %}value="{{ status.value }}">{{ status.label }}</option>
			{% endfor %}
		</select>
	</div>

	<h3 class="container">Group</h3>
	<div class="group container">
		<select id="group">
			<option value=""></option>
			{% for group in groups %}
			<option {% if group.label == notebook.group.name %}selected {% endif %}value="{{ group.value }}">{{ group.label }}</option>
			{% endfor %}
		</select>
	</div>

	<h3 class="container">Custom CSS</h3>
	<div class="group container">
		<textarea id="custom-css" class="code">{% if notebook.custom_css %}{{ notebook.custom_css }}{% endif %}</textarea>
	</div>
</section>
{% endblock content %}
