{% extends 'vinci/_base.html' %}

{% block content %}
<section id="settings" data-uri="{% url 'api_entry_list' notebook.slug %}">
	<h2 class="container">Notebook Settings</h2>

	<div class="group container">
		<input type="text" name="notebook-name" value="{{ notebook.name }}" />
		<input type="submit" class="rename-notebook button" value="Rename" />
	</div>

	<h3 class="container">Default Section</h3>
	<div id="default-section" class="group container">
		<span class="type{% if not notebook.default_section %} selected{% endif %}" data-value="home">home</span>
		{% for section in sections %}
		<span class="type{% if notebook.default_section.slug == section.slug %} selected{% endif %}" data-value="{{ section.slug }}">{{ section.name }}</span>
		{% endfor %}
	</div>

	<h3 class="container">Status</h3>
	<div class="group container">
		<select id="status">
			{% for status in statuses %}
			<option {% if status.value == notebook.status %}selected {% endif %}value="{{ status.value }}">{{ status.label }}</option>
			{% endfor %}
		</select>
	</div>

	<h3 class="container">Group</h3>
	<div class="group container">
		<select id="group">
			<option value=""></option>
			{% for group in groups %}
			<option {% if group.label == notebook.group.name %}selected {% endif %}value="{{ group.value }}">{{ group.label }}</option>
			{% endfor %}
		</select>
	</div>
</section>
{% endblock content %}
