{% extends 'vinci/_base.html' %}

{% block content %}

<section class="today-wrapper">
{% for list in today_lists %}
{% if list.get_active_cards|length %}
	<section class="list" data-list-id="{{ list.id }}" data-list-uri="{% url 'list-detail' list.id %}">
		<h2><a target="_blank" href="{% url 'notebook_section' list.notebook.slug 'todo' %}">{{ list.notebook.name }}</a></h2>

		<ul class="cards">
			{% for card in list.get_active_cards %}
			<li class="card" data-card-id="{{ card.id }}" data-card-uri="{% url 'card-detail' card.id %}" data-card-page-uri="{% url 'card_detail' list.notebook.slug card.id %}">
				<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
				{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}
			</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}
{% endfor %}
</section>

{% endblock content %}

{% block modal %}
<div id="modal-today-card" class="modal">
	<input id="today-archive-card-button" class="button archive" type="button" value="Archive Card" />
	<input id="today-delete-card-button" class="button delete" type="button" value="Delete Card" />
	<a id="go-to-card-link" target="_blank" href="">Go to Card</a>
</div>
{% endblock modal %}
