{% extends 'vinci/_base.html' %}

{% block content %}
	<div class="lists" data-lists-uri="{% url 'list-list' %}" data-notebook-slug="{{ notebook.slug }}">
		{% for list in notebook.get_active_lists %}
		<section class="list" data-list-id="{{ list.id }}" data-list-uri="{% url 'list-detail' list.id %}">
			{% if list.labels.all|length %}
			<span class="labels">
				{% for label in list.labels.all %}
				<span class="label" data-label-id="{{ label.id }}" data-color="{{ label.color }}" style="background-color: {{ label.color }}"></span>
				{% endfor %}
			</span>
			{% endif %}

			<h2 class="list-title"><span class="list-edit">&hellip;</span><span class="title">{{ list.title }}</span></h2>

			<ul class="cards" data-cards-uri="{% url 'card-list' %}" data-list-uri="{% url 'list-detail' list.id %}">
				{% for card in list.get_active_cards %}
				<li class="card" data-card-id="{{ card.id }}" data-card-uri="{% url 'card-detail' card.id %}">
					{% if card.labels.all|length %}
					<span class="labels">
						{% for label in card.labels.all %}
						<span class="label" data-label-id="{{ label.id }}" data-color="{{ label.color }}" style="background-color: {{ label.color }}"></span>
						{% endfor %}
					</span>
					{% endif %}
					<span class="title{% if not card.description %} no-desc{% endif %}">{{ card.title }}</span>
					{% if card.description %}<span class="desc">{{ card.description }}</span>{% endif %}
				</li>
				{% endfor %}
			</ul>

			<div class="add-card">
				<div class="tray">
					<textarea></textarea>
					<span class="save-button">Save card</span>
				</div>
				<span class="add-button">Add card</span>
			</div>
		</section>
		{% endfor %}

		<section class="add-list">
			<div class="tray">
				<textarea></textarea>
				<span class="save-button">Save list</span>
			</div>
			<span class="add-button">Add list</span>
		</section>
	</div>
{% endblock content %}

{% block modal %}
<div id="modal-card-edit" class="modal todo-edit">
	<section class="main-column column">
		<div class="card-edit edit">
			<h3>Card — <span class="list-title"></span></h3>

			<div class="card">
				<textarea id="card-title-edit" name="card-title-edit"></textarea>
				<textarea id="card-description-edit" name="card-description-edit"></textarea>
			</div>

			<div class="buttons">
				<input id="save-card-edit-button" class="button save" type="button" value="Save"/>
				<input id="cancel-card-edit-button" class="button cancel" type="button" value="Cancel"/>
			</div>
		</div>
		<div class="checklists">
			<h3>Checklists</h3>

			Checklists will go here
		</div>
	</section>

	<section class="sidebar column">
		<div class="labels">
			<h3>Labels</h3>

			<ul>
				{% for label in labels.all %}
				<li class="label" data-label-id="{{ label.id }}" data-color="{{ label.color }}" style="background-color: {{ label.color }}">{{ label.title }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="actions">
			<h3>Actions</h3>

			<div class="buttons">
				<span id="card-move-button" class="button">Move &rarr;</span>
				<span id="card-copy-button" class="button">Copy &rarr;</span>
			</div>
			<div class="buttons">
				<span id="card-delete-button" class="button">Delete</span>
				<span id="card-archive-button" class="button">Archive</span>
			</div>
		</div>
	</section>
</div>

<div id="modal-list-edit" class="modal todo-edit">
	<section class="main-column column">
		<div class="list-edit edit">
			<h3>List</h3>

			<div class="list">
				<textarea id="list-title-edit" name="list-title-edit"></textarea>
			</div>

			<div class="buttons">
				<input id="save-list-edit-button" class="button save" type="button" value="Save"/>
				<input id="cancel-list-edit-button" class="button cancel" type="button" value="Cancel"/>
			</div>
		</div>
	</section>

	<section class="sidebar column">
		<div class="labels">
			<h3>Labels</h3>

			<ul>
				{% for label in labels.all %}
				<li class="label" data-label-id="{{ label.id }}" data-color="{{ label.color }}" style="background-color: {{ label.color }}">{{ label.title }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="actions">
			<h3>Actions</h3>

			<div class="buttons">
				<span id="list-move-button" class="button">Move &rarr;</span>
				<span id="list-copy-button" class="button">Copy &rarr;</span>
			</div>
			<div class="buttons">
				<span id="list-move-cards-button" class="button">Move All &rarr;</span>
				<span id="list-copy-cards-button" class="button">Copy All &rarr;</span>
			</div>
			<div class="buttons">
				<span id="list-delete-button" class="button">Delete</span>
				<span id="list-archive-button" class="button">Archive</span>
			</div>
		</div>
	</section>
</div>
{% endblock modal %}
