*							{ -moz-box-sizing: border-box; box-sizing: border-box; }

body						{ margin: 0; padding: 0; font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; background: #ddd; }

.container					{ width: 100%; max-width: 700px; margin: 0px auto; }

a							{ color: #558bc0; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child	{ margin-top: 0; }

body > header				{ background: #2f4044; overflow: auto; clear: both; padding: 15px 35px; width: 100%; }
body > header div.container	{ position: relative; }

body > header a.notebooks	{ display: block; text-decoration: none; color: #418383; font-size: .8em; text-transform: uppercase; margin-bottom: 3px; }
body > header a.notebooks:hover	{ color: #fff; }

body > header h1			{ color: #fff; font-weight: 600; font-size: 1.6em; margin: 0; padding-top: 1em; display: inline-block; line-height: 1em; }
body > header a.notebooks + h1	{ padding-top: 0; }

body > header #search		{ position: absolute; bottom: 0px; right: 0px; }
body > header #search input	{ font-size: 1em; padding: 1px 8px; border: solid 1px #4b6360; background: #232b2a; -moz-border-radius: 1em; border-radius: 1em; font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1em; font-weight: 600; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; transition: all .15s ease-in-out; color: #fff; width: 250px; }
body > header #search input:focus	{ outline: none; border-color: #6b8380; box-shadow: 0 0 12px #576d6a; }

nav[role=pagination]		{ font-size: .8em; padding: 5px 35px; clear: both; overflow: auto; background: #dde4d0; }
nav[role=pagination] label	{ color: #adb695; float: left; line-height: 1.8em; margin-right: 20px; }
nav[role=pagination] .sort	{ float: left; }
nav[role=pagination] .sort select	{ background: #bbccbf; border: solid 1px #bbccbf; -webkit-appearance: none; color: #7b8d7f; padding: 1px 5px 3px; margin-left: 5px; cursor: pointer; }
nav[role=pagination] .sort select:hover	{ background: #fff; border-color: #fff; color: #000; }
nav[role=pagination] .links	{ float: right; display: none; }
nav[role=pagination] .links a	{ color: #91aa80; text-decoration: none; display: inline-block; line-height: 1.8em; }
nav[role=pagination] .links a:hover	{ color: #fff; }
nav[role=pagination] .links a + a	{ margin-left: 15px; }

#page						{ padding: 35px; padding-bottom: 100px; background: #eee; }

.entry						{ margin-bottom: 1.5em; overflow: auto; clear: both; background: #fff; padding: 15px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: 1px 1px 15px #ccc; -webkit-transition: background .35s ease-in-out; -moz-transition: background .35s ease-in-out; transition: background .35s ease-in-out; }
.entry.new					{ background: #ffffd8; }

.entry .metadata			{ font-size: .7em; color: #ddd; font-weight: 500; margin-bottom: 8px; }
.entry .metadata a			{ text-decoration: none; color: #ddd; -webkit-transition: color .35s ease-in-out; -moz-transition: color .35s ease-in-out; transition: color .35s ease-in-out; }
.entry .metadata a:hover	{ color: #000; }

.entry.new .metadata a		{ color: #c4c092; }

.entry .content				{ line-height: 1.4em; }
.entry .content p:first-child	{ margin-top: 0; }
.entry .content p:last-child	{ margin-bottom: 0; }

.entry .content div			{ max-width: 100%; overflow: auto; }

.entry .content figure		{ margin: 1em 0; }
.entry .content figure img	{ max-width: 100%; }

.entry .content strong		{ font-weight: 600; }

.entry .content pre			{ font-family: Monaco, Courier; border-top: solid 2px #ddd; border-bottom: solid 2px #ddd; background: #f3f3f3; padding: 10px; font-size: .8em; overflow-x: auto; line-height: 1.35em; margin: 1.5em 0; }
.entry .content code		{ font-family: Monaco, Courier; font-size: .9em; }
.entry .content p code		{ color: #345678; padding: 2px 5px; -moz-border-radius: 3px; border-radius: 3px; background: #eee; font-size: .8em; }

.entry .content blockquote	{ border-left: solid 5px #ddd; padding-left: 15px; margin-left: 25px; }

.entry .metadata date		{ display: inline-block; }
.entry .metadata time		{ display: inline-block; }
.entry .metadata time:before	{ margin: 0 3px; content: '—'; }

.entry a.tag				{ color: #7499b6; cursor: pointer; text-decoration: none; }
.entry a.tag:hover			{ color: #930; }

.entry .editbox             { display: none; }
.entry .editbox .group      { margin: 3px 0 10px; }
.entry .editbox .group label    { font-size: .9em; color: #999; margin-right: 5px; }
.entry .editbox .group input[type=text] { font-size: .9em; padding: 2px 3px; -moz-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-family: "Avenir Next", Helvetica, Arial, sans-serif; width: 250px; }
.entry .editbox textarea    { font-size: 1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 3em; font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; transition: all .15s ease-in-out; background: #fff; border: solid 1px #bbb; }
.entry .editbox textarea:focus { outline: none; box-shadow: 0 0 50px #888; height: 200px; }

.submitbutton				{ display: none; }

.controls					{ float: right; }
.controls a					{ display: inline-block; margin-left: 10px; }

#input						{ padding: 15px 35px; background: #9fad95; }
#input .content				{ margin: 0px auto; width: 100%; }
#input .content textarea	{ font-size: 1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 3em; font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; transition: all .15s ease-in-out; background: #fff; border: solid 1px #808d69; }
#input .content textarea:focus	{ outline: none; box-shadow: 0 0 50px #72835d; height: 200px; }

#notebooks .notebook		{ background: #fff; margin-bottom: 2em; -moz-border-radius: 3px; border-radius: 3px;
box-shadow: 1px 1px 15px #ccc; border-left: solid 25px #c7b58e; }
#notebooks .notebook:hover	{ box-shadow: 1px 1px 15px #999; }
#notebooks .notebook:last-child	{ margin-bottom: 0; }
#notebooks .notebook > a		{ text-decoration: none; display: block; padding: 15px; }
#notebooks .notebook > a h2	{ margin: 0; line-height: 1.2em; color: #43a2b9; }
#notebooks .notebook > a p	{ margin: 0; font-size: .9em; font-weight: 400; color: #999; }

#notebooks .notebook .controls	{ padding: 15px; font-size: .9em; }
#notebooks .notebook .controls a	{ color: #ccc; text-decoration: none; -webkit-transition: color .35s ease-in-out; -moz-transition: color .35s ease-in-out; transition: color .35s ease-in-out; }
#notebooks .notebook .controls a:hover	{ color: #000; }

a.addnotebook				{ color: #999; text-decoration: none; display: block; margin-top: 1.5em; }
a.addnotebook:hover			{ }

.nb-edit-box					{ display: none; margin-top: 10px; }
.nb-edit-box label				{ color: #999; display: block; margin-bottom: 5px; }
.nb-edit-box .group				{ margin-top: 5px; margin-bottom: 5px; }
.nb-edit-box .group label		{ margin: 0; display: inline-block; }
.nb-edit-box .group input[type=text] { font-size: 1em; padding: 2px 3px; -moz-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-family: "Avenir Next", Helvetica, Arial, sans-serif; max-width: 250px; width: 100%; }
.nb-edit-box textarea			{ font-size: 1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 3em; font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; transition: all .15s ease-in-out; background: #fff; border: solid 1px #ccc; }
.nb-edit-box textarea:focus		{ outline: none; box-shadow: 0 0 50px #aaa; }

#notebooks .notebook .editbox	{ padding: 15px; padding-top: 0; }

@media screen and (max-width: 500px) {
	body					{ background: #fff; }

	body > header			{ padding: 10px 15px; }
	body > header a.notebooks + h1	{ font-size: 1.2em; }
	body > header #search input	{ width: 100px; }

	#input					{ padding: 15px; }
	#input .content input[type=submit]	{ display: block; width: 100%; background: #728161; color: #fff; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: "Avenir Next", Helvetica, Arial, sans-serif; padding: 5px 8px; font-size: .9em; font-weight: 600; cursor: pointer; -webkit-appearance: none; }

	nav[role=pagination]	{ padding: 5px 15px; }

	#page					{ padding: 15px 0; background: #fff; }
	#infscr-loading			{ padding: 0 15px; }

	.entry:first-child		{ border-top: none; }

	.entry					{ border-top: solid 1px #ddd; padding-top: 5px; box-shadow: none; } 
	.entry .metadata a		{ color: #bbb; }

	.entry .editbox input[type=submit]	{ display: block; width: 100%; background: #728161; color: #fff; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: "Avenir Next", Helvetica, Arial, sans-serif; padding: 5px 8px; font-size: .9em; font-weight: 600; cursor: pointer; -webkit-appearance: none; }

	.addbox input[type=submit]	{ display: block; width: 100%; background: #728161; color: #fff; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: "Avenir Next", Helvetica, Arial, sans-serif; padding: 5px 8px; font-size: .9em; font-weight: 600; cursor: pointer; -webkit-appearance: none; }

	#notebooks				{ padding: 10px 15px; }
	#notebooks .notebook	{ margin-bottom: 1em; border-left-width: 15px; }
	#notebooks .notebook .controls	{ padding: 10px; }
	#notebooks .notebook > a	{ padding: 10px; }
	#notebooks .notebook > a h2	{ font-size: 1.2em; }
	#notebooks .notebook .editbox	{ padding: 10px; padding-top: 0; }
	a.addnotebook			{ margin-top: 1em; font-size: .9em; }
	#nb-add-box				{ padding: 0 15px; }
}

@media screen and (max-width: 320px) {
	#page header #search input	{ width: 100px; font-size: .9em; }
}
