@font-face {
    font-family: 'Charter';
    src: url('charter/charter_bold_italic-webfont.eot');
    src: url('charter/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('charter/charter_bold-webfont.eot');
    src: url('charter/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('charter/charter_italic-webfont.eot');
    src: url('charter/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('charter/charter_regular-webfont.eot');
    src: url('charter/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*							{ -moz-box-sizing: border-box; box-sizing: border-box; }

body						{ margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; background: #fff; text-rendering: optimizeLegibility; -webkit-font-feature-settings: 'liga'; }

.container					{ width: 100%; max-width: 800px; margin: 0px auto; }

a							{ color: #558bc0; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child	{ margin-top: 0; }

body > header				{ background: #973939; overflow: auto; clear: both; padding: 15px 35px; width: 100%; }
body > header div.container	{ position: relative; }

body > header h1			{ color: #fff; font-family: Charter, serif; font-style: italic; font-weight: normal; font-size: 1.7em; margin: 0; display: inline; line-height: 1em; letter-spacing: -0.03em; }
body > header h1 a			{ color: #fff; text-decoration: none; }

body > header nav			{ float: right; text-align: right; }
body > header nav ul		{ padding: 0; margin: 0; list-style: none; }
body > header nav ul li		{ padding: 0; display: inline-block; }
body > header nav ul li a	{ font-size: 1.3em; display: inline-block; color: #fff; }
body > header nav ul li + li	{ margin-left: 10px; }

body > header #search		{ display: none; text-align: right; margin-top: 5px; }
body > header #search input	{ font-size: 1em; padding: 2px 4px; border: solid 1px #fff; -moz-border-radius: 3px; border-radius: 3px; font-family: Helvetica, Arial, sans-serif; line-height: 1em; font-weight: bold; color: #fff; width: 100px; background: none; }
body > header #search input:focus	{ outline: none; }

#page						{ padding: 15px 35px 100px; background: #fff; }
body > header + #page		{ padding-top: 35px; }

h2.page-title				{ color: #345678; font-size: 1.8em; margin: 0 0 .5em 0; font-weight: normal; font-family: Charter; }


/* Nav */
/* -------------------------------------------------- */

nav[role=pagination]		{ font-size: .8em; padding: 5px 35px; clear: both; overflow: auto; background: #fff; border-bottom: solid 1px #ddd; display: none; }
nav[role=pagination] label	{ color: #ccc; float: left; line-height: 1.9em; margin-right: 20px; }
nav[role=pagination] .sort	{ float: left; }
nav[role=pagination] .sort select	{ background: #eee; border: solid 1px #eee; -webkit-appearance: none; color: #bbb; padding: 2px 5px 2px; margin-left: 5px; cursor: pointer; font-family: Helvetica, Arial, sans-serif; }
nav[role=pagination] .sort select:hover	{ background: #fff; border-color: #fff; color: #000; }
nav[role=pagination] .sort select:focus	{ border-color: #999; outline: none; }
nav[role=pagination] .links	{ float: right; display: none; }
nav[role=pagination] .links a	{ color: #91aa80; text-decoration: none; display: inline-block; line-height: 1.8em; }
nav[role=pagination] .links a:hover	{ color: #fff; }
nav[role=pagination] .links a + a	{ margin-left: 15px; }


/* Entries */
/* -------------------------------------------------- */

.entry						{ padding: 1.25em 0; overflow: hidden; overflow-x: auto; clear: both; -webkit-transition: background .2s ease-in-out; -moz-transition: background .2s ease-in-out; transition: background .2s ease-in-out; border-top: solid 1px #ddd; }
.entry.new					{ background: #ffffe0; }
.entry:first-child			{ border-top: none; }

.entry .content				{ line-height: 1.4em; margin-left: 205px; font-family: Charter; font-size: 1.1em; }
.entry .content p:first-child	{ margin-top: 0; }
.entry .content p:last-child	{ margin-bottom: 0; }
.entry .content figure:last-child	{ margin-bottom: 0; }
.entry .content blockquote:last-child	{ margin-bottom: 0; }
.entry .content ol:last-child	{ margin-bottom: 0; }
.entry .content ul:last-child	{ margin-bottom: 0; }
.entry .content pre:last-child	{ margin-bottom: 0; }

.entry .content div			{ max-width: 100%; overflow: auto; }

.entry .content h2,
.entry .content h3,
.entry .content h4,
.entry .content h5,
.entry .content h6			{ margin: 1.5em 0 .25em; }

.entry .content h2:first-child,
.entry .content h3:first-child,
.entry .content h4:first-child,
.entry .content h5:first-child,
.entry .content h6:first-child		{ margin-top: 0; }

.entry .content h2 + ul,
.entry .content h3 + ul,
.entry .content h4 + ul,
.entry .content h5 + ul,
.entry .content h6 + ul		{ margin-top: 0; }

.entry .content h3			{ font-size: 1.1em; font-weight: bold; }
.entry .content h4			{ font-size: 1em; font-weight: bold; }

.entry .content figure		{ margin: 1em 0; }
.entry .content figure img	{ max-width: 100%; border: solid 1px #ccc; }

.entry .content strong		{ font-weight: bold; }

.entry .content pre			{ font-family: Monaco, Courier; border-top: solid 2px #ddd; border-bottom: solid 2px #ddd; background: #f3f3f3; padding: 10px; font-size: .8em; overflow-x: auto; line-height: 1.35em; margin: 1.5em 0; }
.entry .content code		{ font-family: Monaco, Courier; color: #345678; padding: 2px 5px; -moz-border-radius: 3px; border-radius: 3px; background: #eee; font-size: .8em; }
.entry .content pre code	{ padding: 0; background: none; font-size: 1em; }

.entry .content blockquote	{ border-left: solid 5px #ddd; padding-left: 15px; margin-left: 25px; margin-right: 0; }


/* Selected entries */
/* -------------------------------------------------- */

.list .entry.selected		{ background: #ffffe0; margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }
.list .entry.selected + .entry	{ margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }


/* Pages */
/* -------------------------------------------------- */

.entry.page .metadata				{ margin: 0 0 15px 0; float: none; overflow: hidden; width: 100%; }
.entry.page .metadata .more			{ margin: .5em 0 0; text-align: left; }

.detail .entry.page .more nav a		{ display: none; }
.detail .entry.page .more nav a.edit		{ display: block; }

.list .entry.page ul.tags			{ display: none; }
.list .entry.page .metadata			{ display: none; }
.list .entry.page h3 a				{ font-weight: normal; font-style: italic; text-decoration: none; }

.detail .entry.page					{ padding: 0; }
.detail .entry.page .content		{ margin-left: 0; }



/* Metadata (date/time, edit/delete) */
/* -------------------------------------------------- */

.entry .metadata			{ font-size: .9em; color: #ddd; font-weight: normal; float: left; width: 180px; margin-right: 25px; margin-top: 3px; }
.entry .metadata a			{ text-decoration: none; color: #ccc; }
.entry .metadata a:hover	{ color: #000; }
.entry.new .metadata a		{ color: #c4c092; }

.entry .menu				{ margin-top: .5em; font-size: .9em; }

.entry .metadata date		{ display: inline-block; }
.entry .metadata time		{ display: inline-block; }

.entry .more				{ margin: 1em -15px 1.5em; padding: 15px; background: #ececec; display: none; position: absolute; z-index: 60000; width: 180px; box-shadow: 0 0 15px #666; -moz-border-radius: 5px; border-radius: 5px; }
.entry .more nav			{ display: block; width: 100%; }
.entry .more nav a			{ width: calc(25% - 3px); padding: 5px 8px; text-align: center; background: #4d87ac; color: #fff; -moz-border-radius: 3px; border-radius: 3px; display: none; width: 48%; }
.entry .more nav a.edit		{ background: #7a9944; display: block; width: 100%; }

.entry .more a.delete		{ display: none; }

.detail .entry .more a.delete		{ width: 100%; background: #be4343; padding: 5px 8px; text-align: center; color: #fff; -moz-border-radius: 3px; border-radius: 3px; margin-top: 1em; display: block; }

.detail .entry .more nav a	{ display: inline-block; }
.detail .entry .more nav a + a	{ margin-top: .5em; }


/* Tags */
/* -------------------------------------------------- */

.entry a.tag				{ color: #7499b6; cursor: pointer; text-decoration: none; }
.entry a.tag:hover			{ color: #930; }

.entry ul.tags				{ list-style: none; padding: 0; margin-top: 1em; margin-bottom: 0; font-size: .8em; }
.entry ul.tags li			{ display: block; }
.entry ul.tags li a			{ text-decoration: none; cursor: pointer; display: block; color: #a2c3dd; padding: 2px 0; }
.entry ul.tags li a:hover	{ color: #000; }


/* Edit boxen */
/* -------------------------------------------------- */

.entry .editbox             { display: none; margin-left: 205px; }
.entry.page .editbox		{ margin-left: 0; }
.entry .editbox .group      { margin: 3px 0 10px; }
.entry .editbox .group label    { font-size: .9em; color: #999; margin-right: 5px; }
.entry .editbox .group input[type=text] { font-size: .9em; padding: 2px 3px; -moz-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-family: Charter, Helvetica, Arial, sans-serif; width: 250px; }
.entry .editbox textarea    { font-size: 1.1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 600px; font-family: Charter, Helvetica, Arial, sans-serif; background: #fff; border: solid 1px #bbb; -webkit-appearance: none; }
.list .entry .editbox textarea    { height: 200px; }
.entry .editbox textarea:focus { outline: none; }

.submitbutton				{ display: none; }

#input						{ padding: 15px 35px; background: #f0f0f0; }
#input .content				{ margin: 0px auto; width: 100%; }
#input .content textarea	{ font-size: 1.1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 3em; font-family: Charter, Helvetica, Arial, sans-serif; background: #fff; border: solid 1px #bebebe; -webkit-appearance: none; }
#input .content textarea:focus	{ outline: none; height: 400px; }
#input .content textarea.has-text	{ height: 200px; }


/* Notebooks page */
/* -------------------------------------------------- */

#notebooks .notebook		{ padding-bottom: .5em; margin-bottom: .5em; border-bottom: solid 1px #ddd; }
#notebooks .notebook:last-child	{ margin-bottom: 0; border-bottom: none; }
#notebooks .notebook > a		{ text-decoration: none; display: block; padding: 5px; }
#notebooks .notebook > a h2	{ margin: 0; line-height: 1em; color: #43a2b9; font-family: Charter, serif; font-weight: normal; font-style: italic; }
#notebooks .notebook > a p	{ margin: 0; font-size: .9em; font-weight: normal; color: #999; }

#notebooks .notebook .controls	{ padding: 5px; font-size: 1.2em; float: right; }
#notebooks .notebook .controls a	{ color: #ccc; text-decoration: none; -webkit-transition: color .35s ease-in-out; -moz-transition: color .35s ease-in-out; transition: color .35s ease-in-out; }
#notebooks .notebook .controls a:hover	{ color: #000; }
#notebooks .notebook .controls a + a	{ margin-left: 5px; }

a.addnotebook				{ color: #999; text-decoration: none; display: block; margin-top: 1.5em; }
a.addnotebook:hover			{ }

.nb-edit-box					{ display: none; margin-top: 10px; }
.nb-edit-box label				{ color: #999; display: block; margin-bottom: 5px; }
.nb-edit-box .group				{ margin-top: 5px; margin-bottom: 5px; }
.nb-edit-box .group label		{ margin: 0; display: inline-block; }
.nb-edit-box .group input[type=text] { font-size: 1em; padding: 2px 3px; -moz-border-radius: 3px; border-radius: 3px; border: solid 1px #bbb; font-family: Charter, Helvetica, Arial, sans-serif; max-width: 250px; width: 100%; }
.nb-edit-box textarea			{ font-size: 1em; padding: 10px; -moz-border-radius: 3px; border-radius: 3px; width: 100%; height: 3em; font-family: Charter, Helvetica, Arial, sans-serif; background: #fff; border: solid 1px #ccc; }
.nb-edit-box textarea:focus		{ outline: none; }

#notebooks .notebook .editbox	{ padding: 15px; padding-top: 0; }


/* Smaller screens */

@media screen and (max-width: 600px) {
	body					{ background: #fff; }

	body > header			{ padding: 10px 15px; }
	body > header h1			{ font-size: 1.4em; }
	body > header #search input	{ width: 100px; }

	body > header + #page		{ padding-top: 15px; }

	.submitbutton			{ background: #973939; color: #fff; }

	#input					{ padding: 15px; }
	#input .content input[type=submit]	{ display: block; width: 100%; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: Helvetica, Arial, sans-serif; padding: 8px; font-size: 1.1em; font-weight: bold; cursor: pointer; -webkit-appearance: none; }

	nav[role=pagination]	{ padding: 5px 15px; }

	#page					{ padding: 15px 0; background: #fff; }
	#infscr-loading			{ padding: 0 15px; }

	.entry					{ padding: 0px 15px 40px; } 
	.entry:first-child		{ padding-top: 0; }
	.entry .content			{ margin-left: 0; font-size: 16px; }

	.list .entry.selected	{ margin-left: 0; margin-right: 0; }
	.list .entry.selected + .entry	{ margin-left: 0; margin-right: 0; }

	.entry .metadata			{ float: none; width: auto; margin: 0; margin-bottom: 5px; font-size: .8em; }

	.entry .metadata .action	{ display: inline-block; padding: 3px 0; }
	.entry .metadata .action a	{ padding: 4px 0; display: inline-block; }

	.entry .metadata .menu		{ float: right; margin-top: 0; }

	.entry .metadata .more	{ position: inherit; box-shadow: none; border-radius: none; width: auto; }
	.entry .metadata .more a.edit	{ padding-top: 10px; padding-bottom: 10px; }

	.entry .metadata ul.tags	 	{ margin-top: 0; margin-bottom: 1em; font-size: 1em; } 
	.entry .metadata ul.tags li 	{ display: inline-block; }
	.entry .metadata ul.tags li + li 	{ margin-left: 5px; }
	.entry .metadata ul.tags li a	{ display: inline-block; }

	.detail .entry .metadata a.delete	{ margin-top: 1.5em; }

	.entry.page					{ padding: 0 15px; }
	.detail .entry.page			{ padding: 0 15px; }

	.entry.page .metadata		{ overflow: initial; margin: 0; }
	.entry.page .metadata .more	{ margin: 1em -15px 1.5em; clear: both; }

	.entry.page .content		{ clear: both; }

	.entry.page h2.page-title	{ float: left; }

	h2.page-title			{ font-size: 1.6em; }

	.entry .editbox			{ margin-left: 0; }
	.entry .editbox input[type=submit]	{ display: block; width: 100%; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: Helvetica, Arial, sans-serif; padding: 8px; font-size: 1.1em; font-weight: bold; cursor: pointer; -webkit-appearance: none; }

	.entry .editbox textarea    { font-size: 1em; height: 200px; }
	#input .content textarea	{ font-size: 1em; }
	#input .content textarea:focus	{ height: 200px; }

	#entries.list .entry.page	{ border: none; border-top: solid 1px #ddd; padding: 15px 15px 25px; -moz-border-radius: 0; border-radius: 0; }

	.addbox input[type=submit]	{ display: block; width: 100%; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: Helvetica, Arial, sans-serif; padding: 8px; font-size: 1.1em; font-weight: bold; cursor: pointer; -webkit-appearance: none; }

	#notebooks				{ padding: 10px 15px; }
	#notebooks .notebook > a h2	{ font-size: 1.2em; }
	#notebooks .notebook input[type=submit]	{ display: block; width: 100%; border: none; -moz-border-radius: 5px; border-radius: 5px; font-family: Helvetica, Arial, sans-serif; padding: 8px; font-size: 1.1em; font-weight: bold; cursor: pointer; -webkit-appearance: none; }

	#nb-add-box				{ padding: 0 15px; }
}
