@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Semibold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-SemiboldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}


/* Base */
/* -------------------------------------------------- */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

body {
	-webkit-font-feature-settings: 'liga';
	margin: 0;
	line-height: 1.4em;
	padding: 0;
	text-rendering: optimizeLegibility;
}

article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, main {
	display: block;
}

.wrapper {
	width: 100%;
}


/* General */
/* -------------------------------------------------- */

a {
	color: hsl(211, 56%, 50%);
	color: hsl(211, 56%, 44%);
}

a:hover {
	color: #1f1b1b;
}

a:hover img {
	background: inherit;
	opacity: 0.8;
}

::-moz-selection, ::selection {
	background: hsl(211, 56%, 50%);
	background: hsl(211, 56%, 44%);
	color: #fff;
}

hr {
	background: #ccc;
	border-width: 0;
	height: 1px;
	margin: 2em auto;
	text-align: center;
	width: 80%;
}

p {
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


/* Page header (mobile) */
/* -------------------------------------------------- */

header[role=banner] {
	background: hsl(212, 32%, 34%);
	overflow: hidden;
}

header[role=banner] h1 {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	left: 60px;
	letter-spacing: 0.04em;
	margin: 0;
	overflow: hidden;
	padding-top: .4em;
	padding-bottom: .5em;
	position: absolute;
	right: 60px;
	text-align: center;
	text-transform: uppercase;
	z-index: 50000;
}

header[role=banner] h1 a.home {
	color: #fff;
	display: block;
	font-size: 1em;
	text-decoration: none;
}

header[role=banner] a:hover {
	color: hsl(48, 81%, 74%) !important;
}

header[role=banner] a {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3em;
	height: 100%;
	line-height: 100%;
	padding: .1em .5em .7em;
	z-index: 100000;
}

header[role=banner] a.menu {
	float: left;
}

header[role=banner] a.add {
	float: right;
}


/* Page header (desktop) */
/* -------------------------------------------------- */

header[role=site] {
	align-items: flex-end;
	background: hsl(212, 32%, 34%);
	display: none;
	overflow: hidden;
	padding: 10px 25px;
	width: 100%;
}

header[role=site] a {
	color: #fff;
	text-decoration: none;
}

header[role=site] a:hover {
	color: hsl(55, 100%, 72%);
}

header[role=site] h1 {
	color: #fff;
	float: left;
	font-size: 1.6em;
	font-weight: 400;
	margin: 0;
}

header[role=site] h1 a {
	display: inline-block;
	margin: 0;
	padding: 10px 0 2px;
}

header[role=site] .system {
	flex: 0.25;
	text-align: right;
}

header[role=site] .system a {
	display: inline-block;
	margin-left: 10px;
}


/* Navigation */
/* -------------------------------------------------- */

nav[role=menu] {
	-moz-transition: -moz-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-o-transition: -o-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-webkit-transition: -webkit-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	transition: transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);

	-webkit-overflow-scrolling: touch;

	-moz-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0);
	-webkit-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);

	background: hsl(218, 26%, 16%);

	float: left;
	overflow: hidden;
	overflow-y: scroll;
	padding-bottom: 1em;
	padding-top: 1em;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	z-index: 0;
}

nav[role=menu] a {
	color: #fff;
	display: block;
	padding: .3em 25px;
	text-align: right;
	text-decoration: none;
}

nav[role=menu] a:hover {
	background: hsl(216, 30%, 32%);
	color: #fff;
}

nav[role=menu] .group + .group {
	border-top: solid 1px hsl(218, 23%, 22%);
	margin-top: .65em;
	padding-top: .65em;
}

nav[role=menu] .group.system a {
	color: hsl(205, 41%, 81%);
	font-size: .9em;
}

body.active-nav nav[role=menu] {
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

body.active-nav #page {
	-moz-transform: translate3d(200px, 0, 0);
	-ms-transform: translate3d(200px, 0, 0);
	-o-transform: translate3d(200px, 0, 0);
	-webkit-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
	box-shadow: -1px 0 25px rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
}

body.active-nav #page .mask {
	background: rgba(255, 255, 255, 0.7);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50000;
}


/* Search */
/* -------------------------------------------------- */

nav[role=menu] .group.search {
	display: flex;
	padding: .3em 25px;
	text-align: right;
}

nav[role=menu] .group.search input[type=text] {
	background: hsl(218, 28%, 22%);
	border: none;
	border-radius: 3px 0 0 3px;
	color: #fff;
	flex: 2;
	font-size: 1em;
	padding: 3px 5px;
	width: 100%;
}

nav[role=menu] .group.search input[type=text]:focus {
	background: hsl(218, 30%, 12%);
	outline: none;
}

nav[role=menu] .group.search input[type=submit] {
	background: hsl(218, 35%, 28%);
	border: none;
	border-radius: 0 3px 3px 0;
	color: #fff;
	flex: 0.1;
	min-width: 3em;
}


/* Sidebar */
/* -------------------------------------------------- */

#page #sidebar {
	background: hsl(0, 0%, 93%);
}


/* Content */
/* -------------------------------------------------- */

#page #content .container {
	padding: 25px;
}

#page #content .entry {
}



@media screen and (min-width: 700px) {
	header[role=banner] {
		display: none;
	}

	.wrapper {
		display: flex;
		position: relative;
	}

	nav[role=menu] {
		-moz-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		display: block;
		flex: .5;
		float: none;
		left: auto;
		bottom: auto;
		top: auto;
		overflow: hidden;
		position: initial;
		min-width: 200px;
		width: auto;
	}

	nav[role=menu] .group.system {
		display: none;
	}

	#page {
		flex: 2;
	}

	#page #content {
		flex: 2;
		max-width: 700px;
	}

	header[role=site] {
		display: flex;
	}
}

@media screen and (min-width: 900px) {
	#page {
		display: flex;
	}

	#page #sidebar {
		flex: 0.5;
		min-width: 200px;
		padding: 25px;
	}
}
