<h3 class="page-title"><a href="{{ entry.get_absolute_url }}">{% if entry.title != '' %}{{ entry.title }}{% elif entry.slug != '' %}{{ entry.slug }}{% else %}no title!{% endif %}</a></h3>
<article class="entry" data-id="{{ entry.id }}" data-uri="{{ entry.get_absolute_url }}" data-notebook-slug="{{ entry.notebook.slug }}" data-api-uri="{% url 'api_entry_detail' entry.notebook.slug entry.id %}">
    <a class="controls-toggle" href="">&nbsp;</a>

	<div class="metadata container"></div>

	<div class="content container {% block entry_class %}{% endblock entry_class %}">
		<h1 class="page-title">{{ entry.title }}</h1>

		<div class="page-content">
			{% if revision %}
			{{ revision.html|safe }}
			{% else %}
			{{ entry.html|safe }}
			{% endif %}
		</div>
	</div>

	<form class="edit-mode">
		<textarea name="content" class="container">{% if revision %}{{ revision.get_payload }}{% else %}{{ entry.current_revision.get_payload }}{% endif %}</textarea>

		<div class="edit-panel">
			<div class="group more container">
				<a class="save" href="">Save</a> &mdash; <a class="delete" href="">Delete</span> &mdash; <a href="{{ entry.get_absolute_url }}">Go to entry</a>
			</div>
		</div>
	</form>
</article>
