<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<title>{{ notebook.name }} | Vinci</title>

	{% set staticpath = url_for('index') ~ "static" %}
	<link href="{{ staticpath }}/css/style.css" rel="stylesheet" type="text/css" charset="utf-8" />

	<script src="{{ staticpath }}/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ staticpath }}/js/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>

	<script src="{{ staticpath }}/js/vinci.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{{ url_for('index') }}";
		config.notebook = "{{ notebook.slug }}";
	</script>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	{% endblock head %}
</head>

<body>
	<section id="page">
		{% block header %}
		<header>
			<h1>{{ notebook.name }}</h1>

			<div id="search">
				<input type="text"{% if query %}value="{{ query }}"{% endif %}/>
			</div>
		</header>
		{% endblock header %}

		{% block page_content %}{% endblock page_content %}
	</section>
</body>
</html>
