<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

	<title>{{ title }} | Vinci</title>

	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" charset="utf-8" />
    {% if custom and custom.css %}
    <link href="{{ url_for('static', filename='custom/css/' ~ notebook.slug ~ '.css') }}" rel="stylesheet" type="text/css" charset="utf-8" />
    {% endif %}
    {% for plugin in config.plugins %}{% for file in config.plugins[plugin].css %}
	<link href="{{ url_for('static', filename='plugins/' ~ plugin ~ '/' ~ file) }}" rel="stylesheet" type="text/css" charset="utf-8" />
	{% endfor %}{% endfor %}

	<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}" type="text/javascript" charset="utf-8"></script>

	<script src="{{ url_for('static', filename='js/vinci.js') }}" type="text/javascript" charset="utf-8"></script>
    {% if custom and custom.js %}
    <script src="{{ url_for('static', filename='custom/js/' ~ notebook.slug ~ '.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endif %}
    {% for plugin in config.plugins %}{% for file in config.plugins[plugin].js %}
	<script src="{{ url_for('static', filename='plugins/' ~ plugin ~ '/' ~ file) }}" type="text/javascript" charset="utf-8"></script>
	{% endfor %}{% endfor %}

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{{ url_for('index') }}";
{% if notebook %}		config.notebook = "{{ notebook.slug }}";{% endif %}
	</script>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	{% endblock head %}
</head>

<body>
	{% block header %}
	<header>
		<div class="container">
			<a class="notebooks" href="{{ url_for('index') }}">Notebooks</a>

			<h1>{{ title }}</h1>

			<form id="search">
				<input type="text"{% if query %}value="{{ query }}"{% endif %}/>
			</form>
		</div>
	</header>
	{% endblock header %}

	{% block input %}{% endblock input %}
	{% block nav %}{% endblock nav %}

	<section id="page">
		{% block page_content %}{% endblock page_content %}
	</section>
</body>
</html>
