<article class="entry" data-id="{{ entry.id }}">
	<div class="metadata">{% if not notebook %}<a href="{{ url_for('index') ~ entry.notebook.slug }}">{{ entry.notebook.name }}</a> — {% endif %}<a href="{{ url_for('index') ~ entry.notebook.slug ~ '/entry/' ~ entry.date.strftime('%Y-%m-%d') ~ '.' ~ entry.id }}"><date>{{ entry.date.strftime('%a, %d %b %Y') }}</date><time>{{ entry.date.strftime('%l:%M %p')|trim }}</time></a><div class="controls"><a href="" class="delete">Delete</a><a href="" class="edit">Edit</a></div></div>
	<div class="content">{{ entry.html }}</div>
	<form class="editbox"><textarea>{{ entry.content }}</textarea><div class="group"><label>Date:</label><input type="text" value="{{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}" /></div><input type="submit" value="Save Entry" class="submitbutton" /></form>
    {% if entry.plugins|length > 0 %}
    <script type="text/javascript" charset="utf-8">
        {% set staticpath = url_for('index') ~ "static" %}
        {% for plugin in entry.plugins %}
        var basePath = '{{ staticpath }}/plugins/{{ plugin }}/';

            {% if plugin in config.plugins %}
            // Go through config.plugins[plugin] and load each file listed (if any
            {% for file in config.plugins[plugin].css %}
                var cssPath = basePath + '{{ file }}';
                // Only load the CSS/JS if it hasn't already been loaded for this plugin
                if ($("link[href='" + cssPath + "']").length == 0) {
                    $('<link rel="stylesheet" href="' + cssPath + '" type="text/css" media="screen" charset="utf-8" />').appendTo('head');
                }
            {% endfor %}

            {% for file in config.plugins[plugin].js %}
                var jsPath = basePath + '{{ file }}';
                if ($("script[src='" + jsPath + "']").length == 0) {
                    $('<script src="' + jsPath + '" type="text/javascript" charset="utf-8" />').appendTo('head');
                }
            {% endfor %}
            {% endif %}
        {% endfor %}
    </script>
    {% endif %}
</article>
