{% extends '_base.html' %}

{% block page_content %}
{% block input %}
<article id="input">
	<div class="content"><textarea id="add" name="add"></textarea></div>
</article>
{% endblock input %}

{% block entries %}
<section id="entries">
	{% for entry in entries %}
	<article class="entry" data-id="{{ entry.id }}">
		<div class="metadata"><a href="{{ entry.url }}"><date>{{ entry.date }}</date><time>{{ entry.time }}</time></a></div>
		<div class="content">{{ content }}</div>
	</article>
	{% endfor %}
</section>
{% endblock entries %}

{% endblock page_content %}
