{% extends '_base.html' %}

{% block input %}
{% if title != "Search All Notebooks" and title != "Search All Tags" %}
<form id="input">
	<div class="container">
		<div class="content"><textarea id="add" name="add"></textarea><input type="submit" value="Add Entry" class="submitbutton" /></div>
	</div>
</form>
{% endif %}
{% endblock input %}

{% block nav %}
<nav role="pagination">
	<div class="container">
		<label>{{ pagination.hits }} entries</label><label>Page {{ pagination.page }} of {{ pagination.pages }}</label><div class="sort"><select id="sort" name="sort">{% if pagination.sort == 'relevance' %}<option value="relevance" selected>Sort by relevance</option>{% endif %}<option value="date_desc"{% if pagination.sort == 'date_desc' %} selected{% endif %}>Sort newest first</option><option value="date_asc"{% if pagination.sort == 'date_asc' %} selected{% endif %}>Sort oldest first</option></select></div><div class="links">{% if pagination.has_prev %}<a href="{{ pagination.prev_page }}">&larr; Prev</a>{% endif %}{% if pagination.has_next %}<a href="{{ pagination.next_page }}">Next &rarr;</a>{% endif %}</div>
	</div>
</nav>
{% endblock nav %}

{% block page_content %}
<div class="container">

	{% block entries %}
	<section id="entries">
		{% for entry in entries %}
		{% include '_entry.html' %}
		{% else %}
		<article class="entry">
			<div class="content">No entries yet.</div>
		</article>
		{% endfor %}
	</section>
	{% endblock entries %}
</div>
{% endblock page_content %}
