{% extends 'vinci/_base.html' %}

{% block header_title %}Login{% endblock header_title %}

{% block page_content %}
<div class="container login">
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method='post' action="{% url 'django.contrib.auth.views.login' %}" class="login">
		{% csrf_token %}
		{{ form.as_p }}

		<input type="submit" class="button" value="Log in" />

		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
{% endblock page_content %}
